// AppLayout.module.scss
.container {
  min-height: 100svh;
  background: var(--bg-gradient);
  color: white;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column; 
}
