# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - scoutapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: "22.x"

      - name: npm install
        run: |
          npm install

      - name: Build
        run: |
          npm run build --if-present
        env:
          API_URL: "https://api.thefreeagentportal.com/api/v1"
          SERVICE_NAME: "FAP Scout App"
          ENV: "production"
          ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
          TINYMCE_API_KEY: ${{ secrets.TINYMCE_API_KEY }}
      - name: List build output
        run: ls -l .next
      - name: Run tests
        run: |
          npm run test --if-present

      - name: Zip artifact for deployment
        run: zip -r release.zip .next public package.json package-lock.json

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: "Deploy to Azure Web App"
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: "scoutapp"
          slot-name: "Production"
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_188E321F53004396B4D120806F83DFA4 }}
